---
api_key: haimaib7si0XuSh9Ien5iigaeve3ocie
zone_domain: domain.com
dns_records:
  - { type: 'A', record: 'www', data: '1.2.3.4' }
  - { type: 'MX', record: '', data: 'mail.{{ zone_domain }}', priority: 10 }
  - { type: 'A', record: 'mail', data: '1.2.3.10' }
  - { type: 'TXT', record: '', data: 'v=spf1 +a +mx +ip4:a1.2.3.4 ?all' }
